{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

     <!-- Main css -->
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <title>Blog Home</title>


</head>
<body class="w3-light-grey">


    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32"> 
            {% if user.is_authenticated %}
                <h1><b><span class="w3-tag">{{ user.username }}'s</span> BLOG</b></h1>  
            {% else %}
                <h1><b>BLOG SITE</b></h1>
                <p>Login to see <span class="w3-tag">BLOGS</span></p>
            {% endif %}


            <div class="user-auth-container">
                {% if user.is_authenticated %}
                    <p class="welcome-message">Welcome, <strong>{{ user.username }}</strong>!</p>
                    <div class="auth-links">
                        <a href="{% url 'logout' %}" class="auth-link logout">Logout</a>
                        <span class="divider">|</span>
                        <a href="{% url 'add_post' %}" class="auth-link add-post">Add Post</a>
                        <span class="divider">|</span>
                        <a href="{% url 'profile' %}" class="auth-link profile">Profile</a>
                    </div>
                {% else %}
                    <div class="auth-links">
                        <a href="{% url 'login' %}" class="auth-link login">Login</a> 
                        <span class="divider">|</span>
                        <a href="{% url 'register' %}" class="auth-link register">Register</a>
                    </div>
                {% endif %}
            </div>            
            
        </header>
        
        <!-- Grid -->
        <div class="w3-row">
        
        <!-- Blog entries -->
        <div class="w3-col l8 s12">
        <!-- Blog entry -->
        {% for post in page_obj %}


        <div class="w3-card-4 w3-margin w3-white main-blog">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-image">
            {% else %}
                <img src="{% static 'blog/images/blog_post_picture/default.jpg' %}" alt="Default Image">
            {% endif %}
        
            <div class="w3-container">
                <h3><b>{{ post.title }}</b></h3>
                <h5><strong>{{ post.author }}</strong>, <span class="w3-opacity">{{ post.created_at|date:"F j, Y" }}</span></h5>
            </div>
        
            <div class="w3-container">
                {{ post.content|truncatewords:50 }}
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p><a href="{% url 'post_detail' post.pk %}" class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></a></p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                        <p>
                            <span class="w3-padding-large w3-right">
                                <b>Comments</b>
                                <span class="w3-badge">{{ post.comments.count }}</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    {% endfor %}
        <!-- END BLOG ENTRY -->
        </div>
        
        <!-- Introduction menu -->
        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top about-user">
                <img src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'blog/images/profile_pics/default.jpg' %} {% endif %}">
                <div class="w3-container w3-white text-content">
                    {% if user.is_authenticated %}
                        <h4><b>Hi, I'm {{ user.username }}</b></h4>
                        <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                    {% else %}
                        <h4><b>About Section</b></h4>
                        <p>Specific about will be displayed here...</p>
                    {% endif %}
                </div>
            </div><hr>

            <!-- My Posts Section -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>My Posts</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    {% for post in user.posts.all %}
                    <li class="w3-padding-16">
                        {% if post.image %}
                        <div class="post-image-container">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                        {% else %}
                        <div class="post-image-container">
                            <img src="{% static 'blog/images/blog_post_picture/default.jpg' %}" alt="Default Image">
                        </div>
                        {% endif %}
                        <span class="w3-large">{{ post.title }}</span> 

                    </li>
                    {% empty %}
                    <li class="w3-padding-16">
                        <span>No posts available.</span>
                    </li>
                    {% endfor %}
                </ul>                
            </div>
            <hr> 
        </div>
        <!-- END Introduction Menu -->

        <hr> 
        
        
        <!-- Labels / tags -->
        <div class="w3-container w3-white tag-container">
            <div class="w3-container w3-white">
                <h2><b>Tags</b></h1>
            </div>
            <div class="w3-tags">
                <span class="w3-tag w3-black">Travel</span> 
                <span class="w3-tag w3-light-grey w3-small">New York</span> 
                <span class="w3-tag w3-light-grey w3-small">London</span>
                <span class="w3-tag w3-light-grey w3-small">IKEA</span> 
                <span class="w3-tag w3-light-grey w3-small">NORWAY</span> 
                <span class="w3-tag w3-light-grey w3-small">DIY</span>
                <span class="w3-tag w3-light-grey w3-small">Ideas</span> 
                <span class="w3-tag w3-light-grey w3-small">Baby</span> 
                <span class="w3-tag w3-light-grey w3-small">Family</span>
                <span class="w3-tag w3-light-grey w3-small">News</span> 
                <span class="w3-tag w3-light-grey w3-small">Clothing</span> 
                <span class="w3-tag w3-light-grey w3-small">Shopping</span>
                <span class="w3-tag w3-light-grey w3-small">Sports</span> 
                <span class="w3-tag w3-light-grey w3-small">Games</span>
            </div>
        </div>
        
        
        
        <!-- END Introduction Menu -->
        </div>
        
        <!-- END GRID -->
        </div><br>
        
        <!-- END w3-content -->
        </div>
        
        <!-- Footer -->
        <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <!-- Pagination -->
        <div class="pagination w3-center">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="w3-button w3-light-grey pagination-link">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="w3-button w3-light-grey pagination-link">Prev</a>
            {% endif %}
        
            <span class="w3-tag w3-black w3-margin current-page">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="w3-button w3-light-grey pagination-link">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="w3-button w3-light-grey pagination-link">Last &raquo;</a>
            {% endif %}
        </div>
        <p>Made By <a href="https://www.facebook.com/rm.villa.2024" target="_blank">Kiyo   </a></p>
        </footer>
    
    </ul>
</body>
</html>

